/* TABLE OF CONTENTS FORMATTING */
#TOC {
  left: 30px;
  width: 300px;
  max-width: 90%;
  overflow: auto;
  color: #d95f0e;
  border-radius: 3px;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  z-index: 2;
  color: white;
  background-color: #d95f0e;
}



/* NAVBAR STUFF ? */

.navbar-inverse {
  background-color: #d95f0e;
}
.navbar-inverse .navbar-brand {
  color: #white;
}
.navbar-inverse .navbar-nav>li>a {
  color: #white;
}
.navbar-inverse .navbar-nav>.active>a {
  background-color: #d95f0e;
}
.list-group-item.active {
  background-color: #d95f0e;
  border-color: #d95f0e;
}
item.active, .list-group-item.active:hover {
  background-color: #d95f0e;
  border-color: #d95f0e;
}